<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.sdgundam.comicatsdgo"
    android:versionCode="20141212"
    android:versionName="0.1a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for Vitamio -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- for UMeng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- for 广点通 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>

    <!-- android:name=".GDApplication" -->
    <!-- android:configChanges="orientation" -->
    <!-- android:screenOrientation="portrait" -->
    <application
        android:name=".GDApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <meta-data android:value="5488ec52fd98c57b07000eb1" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Direct Download" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".VideoViewActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:label="@string/title_activity_video_view"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sdgundam.comicatsdgo.MainActivity" />
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PostViewActivity"
            android:label="@string/title_activity_post_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sdgundam.comicatsdgo.MainActivity" />
        </activity>
        <activity
            android:name=".UnitViewActivity"
            android:label="@string/title_activity_unit_view"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sdgundam.comicatsdgo.MainActivity" />
        </activity>
        <activity
            android:name=".SearchUnitActivity"
            android:label="@string/title_activity_search_unit"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sdgundam.comicatsdgo.MainActivity" />
        </activity>
        <activity
            android:name=".UnitsByOriginActivity"
            android:label="@string/title_activity_units_by_origin"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sdgundam.comicatsdgo.MainActivity" />
        </activity>

        <!-- for 广点通 -->
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false"></service>
        <activity android:name="com.qq.e.ads.AdActivity" android:theme="@android:style/Theme.Translucent">
        </activity>
    </application>

</manifest>
